.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    opacity: 0;
    pointer-events: none;/*нажатие на другие элементы*/
    transition: 0.5s;
}

.modal.active{
    pointer-events: all;
    opacity: 1;
}

.modal-content{
    width: 35vw;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modal-content.active{
    transform: scale(1);
}